<template>
  <div id="app">

    <h1>Conversor de Reais em <br> {{nomeMoeda(moeda)}}</h1>

    <form action="">
      <div id="select">
        <select name="moeda" id="moeda" v-model="moeda" >
          <option value="USD">Dólar Comercial</option>
          <option value="USDT">Dólar Turistico</option>
          <option value="AUD">Dólar Australiano</option>
          <option value="CAD">Dólar Canadense</option>
          <option value="EUR">Euro</option>
          <option value="GBP">Libra Esterlina</option>
          <option value="BTC">Bitcoin</option>
        </select>
      </div>

      <div class="conversor">
        <input type="text" id="valorReal" v-model="valorReal">
        <label for="valorReal"> 
          Reais = <span class="destaque">{{conversorBRL2Moeda(moeda)}}</span> {{nomeMoeda(moeda)}}
        </label>
      </div>

      <div class="conversor">
        <input type="text" id="valorMoeda" v-model="valorMoeda">
        <label for="valorMoeda"> 
          {{nomeMoeda(moeda)}} = <span class="destaque">{{conversorMoeda2BRL(moeda)}}</span> Reais
        </label>
      </div>

    </form>
    
  </div> <!-- Fim do App -->
</template>

<script>

export default {
  name: 'App',
  components: {
  },
  methods:{
    respostaApi(moeda){
      let url = "https://economia.awesomeapi.com.br/all/"+moeda+"-BRL";
      let xhttp = new XMLHttpRequest();
      xhttp.open("GET", url, false);
      xhttp.send();//A execução do script pára aqui até a requisição retornar do servidor
      return xhttp.responseText;
    },
    splitResposta(moeda){
      let textoResposta = this.respostaApi(moeda);
      return textoResposta.split('"');
    },
    nomeMoeda(moeda){
      let textoSplit = this.splitResposta(moeda);
      return textoSplit[13]
    },

    valorMedioCotacao(moeda){
      let textoSplit = this.splitResposta(moeda);
      let maiorValor = parseFloat(textoSplit[17]);
      let menorValor = parseFloat(textoSplit[21]);
      return ((maiorValor+menorValor)/2).toFixed(2)
    },
    conversorBRL2Moeda(moeda){
      let valorCotacao = this.valorMedioCotacao(moeda);
      let valorRealFloat = parseFloat(this.valorReal.replace(',','.'));
      if (isNaN(valorRealFloat)){
        valorRealFloat = 0;
      }
      return (valorRealFloat/valorCotacao).toFixed(2)
    },
    conversorMoeda2BRL(moeda){
      let valorCotacao = this.valorMedioCotacao(moeda);
      let valorRealFloat = parseFloat(this.valorMoeda.replace(',','.'));
      if (isNaN(valorRealFloat)){
        valorRealFloat = 0;
      }
      return (valorRealFloat*valorCotacao).toFixed(2)
    }

  },
  data(){
    return{
      moeda: "USD",
      valorReal: "1",
      valorMoeda: "1"
    }
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin: 60px auto;
  width: 600px;
  max-width: 100vw;
}
h1{
  font-size: 45px;
}
#select{
  margin: 20px;
  font-size: 18px;
}
.conversor{
  width: 400px;
  margin: 10px auto;
  text-align: start;
  font-size: 18px;

}
.conversor input{
  width: 45px;
}
.destaque{
  font-size: 20px;
  font-weight: bold;
}
</style>